*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.826);
    color: azure;
}
#main{
    padding: 20px;
    margin-left: 15px;
    margin-top: 30px;
    width: 30%;
    color: azure;
}
#main:hover{
    box-shadow:2px 0px 2px 3px rgba(4, 0, 0, 0.893) ;
    border-radius: 5px;
}
#main .inp{
    width: 18rem;
}
#main input{
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    display: block;
}
/*  for js card div*/
.card{
   
    padding: 20px;
    margin-left: 15px;
    margin-top: 30px;
    width: 80%;
    box-shadow:2px 0px 2px 3px rgba(4, 0, 0, 0.893) ;
    border-radius: 5px;
    overflow: hidden;
}

.card h3{
    margin-top: 1rem;
    text-transform:capitalize;
    
}
.card h5{
    padding: 3px;
    text-transform: capitalize;
}
.card p{
    padding: 8px;
}
/* profile image */
.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}